#myblock{
    width: 100vw;
    color: black;
    margin-bottom: 0px;
}
#myblock h2{
    border-bottom: 2px solid black;
    background-color: slategrey;
    height: 5vh;
    margin-top: 0px; 
}
#myblock p{
    background-color: #c7ecee;
    border-radius: 5px;
    margin: 0px 5%0px 5%;
}
/* .f_block {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
} */
/* .f_block p{
    border: red 2px solid;
    border-radius: 2em;
    width: 80vw;
    position: relative;
    z-index: 1;
    height: 50vh;
    font-size: 5em;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 4em;
} */
.s_block h2{
    border-bottom: 2px solid black;
    background-color: slategrey;
    height: 5vh;
    margin-top: 0px; 
}

/* .s_block p{
margin-top:20vh;
text-align: center;
font-size: 2em;
} */
#my_menu{
    margin: 0px 0px 0px 90%;
    background-color: salmon;
    width: 10%;
    height: 100vh;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#my_menu a{
    margin-top: 4em;
    margin-left: 4em;
}

