html{
    -ms-text-size-adjust:100%;
}
body{
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma ,sans-serif;
}
header {
    width: 100vw;
    height: 10vh;
    background-color: black;
    opacity: 100%;
}
nav{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    position: fixed;
    z-index: 3;
    width: 100%;
}
nav a{
    color: white;
    text-decoration: none;
}
footer {
    width: 100vw;
    height: 15vh;
    background-color: black;
}
section {
    width: 100vw;
    height: 100vh;
    /* border: solid black 2px; */
    /* background-color: ##ff4d4d; */
    text-size-adjust: 100%;
    font-size: large;
} 
.sect1 p {
    /* background-color: #74b9ff; */
    margin-top:10%;
    margin-bottom: 3vh;
    border-radius: 5px;
    border: solid 5px #c7ecee;
}
.sect1 p:nth-child(2n){
    margin-left:10%;
}
.sect1 p:nth-child(3n){
    margin-right: 10%;
}
.sect1 p:nth-child(5n){
    margin-right:10%;
}
.sect1 div{
    margin: 5vh 40vw 0px 5vw;
    height: 10vh;
    width: 30vw;
    border: solid black 2px;
    background-color: #7d5fff;
    color: white;
    font-family: cursive;
}
